html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0; 
}
  
  body {
    margin: 0; 
}

.background {
    background-image: url(../css/images/background.png);
    color: #fff;
 }

.footer {
    background-color: rgba(0, 0, 0, 0.98);
    background-image: url("../css/images/background.png");
    color: #000;
    padding: 1rem 0;
    margin: 4rem 0 0 0;
    font-size: 85%; 
}

.footer {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border-radius: 3px; 
}

.header {
    background-color: rgba(0, 0, 0, 0.98);
    background-image: url("../css/images/background.png");
    color: #fff;
    padding: .5rem 0 0 0;
}

.header h1{
    margin-top: 3em;
    margin-left: 1.5em;
    font-size: 2.5em;
    
}

