html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0; 
}
  
  body {
    margin: 0; 
}

.background {
    
    background-image: url(../css/images/background.png);
    color: #fff;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:150%;
    height:110%;
    margin-left: -4em;
 }

 .background h1{
     font-weight: bold;
 }

 .one {
    
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:70%;
    height:110%;
    margin-left: 14em;
 }

 .two {
    background-color: #7430b0;
    color: #fff;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:113%;
    height:110%;
    margin-top: 3em;
    margin-left: -4em;
 }

 .three {
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:95%;
    height:110%;
    margin-left: -4em;
    margin-top: 0.8em;
 }

 .flag-new::before {
    content: "New!";
    background-color: #087f23;
    position: absolute;
    top: 43rem;
    left: 1rem;
    padding: .3rem .5rem;
    display: inline-block;
    color: #fff;
    font-weight: both;
    transform: rotate(-20deg); }


 .four {
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:127%;
    height:110%;
    margin-left: -4em;
    margin-top: .8em;
 }

 .five {
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:150%;
    height:110%;
    margin-left: -4em;
    margin-top: 2em;
 }

 .six {
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:70%;
    height:110%;
    margin-left: 14em;
    margin-top: 2em;
 }

 .seven {
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:125%;
    height:90%;
    margin-top: 4em;
    margin-left: -4em;
 }

 .eight {
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:95%;
    height:90%;
    margin-top: 4em;
    margin-left: 3em;
 }

 .nine {
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:110%;
    height:90%;
    margin-top: 4em;
    margin-left: 2.5em;
 }

 .ten {
    background-image: url(../css/images/pic.png);
    color:#000;
    font-size: 17px;
    border: 2px solid #85827b;
    padding: 10px;
    width:113%;
    height:110%;
    margin-top: 5em;
    margin-left: -4em;
    margin-bottom: 4em;
 }

.footer {
    color: #000;
    margin-left: 5em;
    margin-top: 2em;
    font-size: 15px; 
    padding: 1rem;
    border-radius: 3px; 
    background-color: #c2ccc5;
    opacity: 0.7;
    width:90%;
    height:20%;
}
.bottom{
    background-image: url("../css/images/background.png");
}


.header {
    background-color: rgba(0, 0, 0, 0.98);
    color: #fff;
    padding: .5rem 0 0 0;
    background-image: url("../css/images/background.png");
}

.header h1{
    margin-top: 2em;
    margin-left: 1.5em;
    font-size: 2.5em;
    font-weight: bold;
}

.header p{
    margin-left: 3.25em;
    font-size: 18px;
    margin-top: 1.5em;
}

.follow{
    margin-left: 60em;
}
.nav {
    background-color: #c2ccc5;
    opacity: 0.7;
    font-size: 20px;
    width: 100%;
}
.nav-item a{
    color:#000;
    font-weight: bold;
    word-spacing: normal;
}
a{
    text-decoration: none;
}
.row a{
    color:rgba(0, 0, 0, 0.98);
    
}
.two a {
    color: white;
}
.background a{
    color: white;
    text-decoration: underline;
}
.footer A{
    text-decoration: underline;
    color: black;
}
.two h2{
    font-weight: bold;
}
.row{
    margin-top: 25px;
}