html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0; 
}
  
  body {
    margin: 0; 
}

.background {
    background-image: url(../css/images/background.png);
    color: #fff;
 }

.footer {
    background-color: rgba(0, 0, 0, 0.98);
    background-image: url("../css/images/background.png");
    color: #000;
    padding: 1rem 0;
    margin: 4rem 0 0 0;
    font-size: 85%; 
}

.footer {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border-radius: 3px; 
}

.header {
    background-color: rgba(0, 0, 0, 0.98);
    color: #fff;
    padding: .5rem 0 0 0;
    background-image: url("../css/images/background.png");
}

.header h1{
    margin-top: 3em;
    margin-left: 1.5em;
    font-size: 2.5em;
}

.header p{
    margin-left: 3em;
    font-size: 20px;
    margin-top: 1.5em;
}

.nav {
    background-color: #c2ccc5;
    opacity: 0.7;
    font-size: 20px;
    width: 100%;
}
.nav-item a{
    color:#000;
    font-weight: bold;
    word-spacing: normal;
}

.row{
    margin-top: 25px;
}