html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0; 
    background-color: #21252b;
}
  
  body {
    margin: 0; 
    background-color: #21252b;
}

.logo {
  margin-left: 35em;
}

.logo button{
  margin-left: 20rem;
  background-color: blue;
}

.content {
  background-image: url(../css/images/third_background.jpg);
  width:100%;
  color: #f0f1f2;
  padding: 10em;
  text-align: center;
}

.nav-item {
  font-size: 15px;
}

.content p1{
  font-size: 25px;
}

.content h1{
  font-size: 55px;
}

.content p{
  font-size: 20px;
}

.container {
  color: #f0f1f2;
  padding: 2em;
  text-align: center;
}

.col img{
  width: 90%;
}

.col h1{
  padding: -5px;
}

.image img{
  width:50%;
  margin-left: 10em;
  height:400px;
}

.image p{
  margin-left: 10em;
  text-align: center;
}

.image1 img{
  width:50%;
  margin-left: -10em;
  height:400px;
}

.image1 p{
  margin-left: -10em;
  text-align: center;
}

.row{
  padding-top: 40px;
}



.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}


.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}


#footer {
  background-color: #21252b;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}