<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">

    <title>Grid by Example</title>
  </head>
  <body>
    
    <div class="header">
    <div class="follow"><a href="https://twitter.com/rachelandrew" class="twitter-follow-button" data-size="large" data-show-screen-name="true" data-show-count="true">Follow @rachelandrew</a></div>
    <h1>Grid by Example</h1>
    <p>Everything you need to learn CSS Grid Layout</p>
  
    <!-- Bootstrap NavBar -->
    <div class="nav">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link " href="/">Start Here</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Examples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Patterns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Video Tutorials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Resources</a>
          </li>
      </ul>
      </div>
    </div>
      <!-- Bootstrap Grid Layout -->
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="background">
            <h1>CSS Grid Layout</h1>

            <p>This site is a collection of examples, video and other information to 
                help you learn CSS Grid Layout. Developed and maintained by 
                <a href="https://rachelandrew.co.uk">Rachel Andrew</a>.</p>
            
            </div></div>
          <div class="col"><a href="/">
            <h2>The Video Tutorial</h2>
            <p>A collection of short and to the point videos, 
            demonstrating various parts of the CSS Grid 
            Layout specification.</p></a>
          </div>
        </div>
        <div class="row">
          <div class="col"><a href="/">
            <h2>Get Started Guide</h2>
            <p>A structured guide to resources that will 
                help you to start learning CSS Grid Layout.</p>
          </a></div>
        </div>
        <div class="row">
            <div class="col"><a href="/">
                <h2>The Examples</h2>
        <p>Small examples of the CSS Grid Layout specification. 
            Each demonstrates a feature of the specification. 
            Includes new Subgrid examples!</p>
            </a>
            </div>
            <div class="col"><a href="/">
                <h2>Patterns</h2>
        <p>Grab &amp; Go. A set of example patterns with fallbacks for older 
            browsers. </p>
            </a>
            </div>
        </div>
        <div class="row">
            <div class="col"><a href="/">
                <h2>Resources</h2>
        <p>More links to articles, tutorials and conference 
            presentations that will help you learn CSS Grid Layout.</p>
      </a>
            </div>
            <div class="col"><a href="/">
                <h2>CSS Layout News</h2>
        <p>Sign up for a weekly email full of CSS Layout 
            links and resources.</p>
      </a>
            </div>
          </div>
          <div class="grid">
            <div class="g-col-6 g-col-md-4"><a href="/">
                <h2>Questions?</h2>
        <p><strong>Ask me anything</strong> about Grid Layout 
            over at my GitHub Grid AMA.</p>
      </a>
            </div>
            <div class="g-col-6 g-col-md-4"><a href="/">
                <h2>About CSS Grid</h2>
        <p>What even is this? Do I need to care?</p>
      </a>
            </div>
            <div class="g-col-6 g-col-md-4"><a href="/">
                <h2>News</h2>
        <p>Infrequent updates on this site.</p>
      </a>
            </div>
          </div>
          <div class="row">
            <div class="col"><a href="/">
                <h2>GridBugs!</h2>
        <p>If you have found a bug in a browser, or want to see 
            what we have found so far, check out this site.</p>
      </a>
            </div>
          </div>

      </div>

    <!-- Bootstrap Footer -->
      <footer id="footer">
        <div class="footer">
          <p>This is a project by Rachel Andrew. Take a look at some of the other things I make.</p>
        <ul>
            <li><A href="https://grabaperch.com">Perch CMS</a> - the original Really Little CMS. Designed for speed and simple implementation.</li>
            <li><A href="https://noti.st">Notist</a> - slide sharing and much more. Create your public speaking portfolio.</li> 
            <li><A href="https://thecssworkshop.com">The CSS Workshop</a> - learn CSS Layout with me</li> 
        </ul>

        <p class="thanks">This site is hosted on <a href="https://www.netlify.com/">Netlify</a>, thanks to their free hosting for open source projects.</p>
          </div>
        </div>
      </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>